header {
    background-color: blue;
    text-align: center;
    color: white;
    display: block;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
}

.fa, .fas {
    font-size: xxx-large;
} 

.btn {
    height: 40px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-blue { 
    background-color: blue;
    color: white;
}

.btn-orange {
    background-color: orange;
    color: white;
}

.user-grid { 
    width: 400px;
    height: 400px;
    background-color: rgb(23, 241, 241);
}

.computer-grid { 
    width: 400px;
    height: 400px;
    background-color: pink;  
    margin: 2px;
 }  

.carrier-box {
    width: 200px;
    height: 40px;
    background-color: red; 
    margin: 2px;
}

.battleship-box {
    width: 160px;
    height: 40px;
    background-color: blueviolet;
    margin: 2px;
}

.cruiser-box {
    width: 120px;
    height: 40px;
    background-color: cornflowerblue; 
    margin: 2px;
}

.submarine-box {
    width: 120px;
    height: 40px;
    background-color: darkblue; 
    margin: 2px;
}

.destroyer-box {
    width: 80px;
    height: 40px;
    background-color: purple;
    margin: 2px;
}