header {
    background-color: blue;
    text-align: center;
    color: white;
    display: block;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;

}

.fa, .fas {
    font-size: xxx-large;
}

.grid {
    width: 400px;
    height: 400px;
    }

.user-grid { 
    width: 400px;
    height: 400px;
    background-color: aqua;
}

 .computer-grid { 
    width: 400px;
    height: 400px;
    background-color: pink;
 }   

 .display-grid { 
    width: 400px;
    height: 400px;
    background-color: lightgreen;

 }

